#navbar{
    text-align: center !important;
}
.navbar-header {
    float: left;
    font-size:30px;
    padding: 15px;
    text-align: center;
    width: 100%;
}
.navbar-brand a{
    float:none;
    text-decoration:none;
    font-size:larger !important;
}
.navbar .navbar-nav {
    font-size: 20px;
    display: inline-block;
    float: none;
    vertical-align: top;
    text-decoration:none;
  }
.navbar .navbar-collapse {
    text-align: center;
  }
  img{
     height:200px;
     width: 300px;
  }
#brander{
font-size: 150px !important;
}
hr {
    border: 10px;
    height: 10px;
    background: #3F72FF;
    background-image: linear-gradient(to right, #3F52FF, #3F72FF, #3F9FFF);
}
*{
background-color: #546570 !important;
color: #3F72FF;
}
h1,li,a{
color:#3F72FF !important;
}
.thumbnail {
    border-color:  #3F72FF;
    box-shadow: none;
}
.navbar.navbar-default {
    background-color: #3F72FF;
    border-color: #3F72FF;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.navbar.navbar-default .navbar-collapse {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.tab{
     margin-left: 40px; 
}
p{
    font-size: 25px;
}
li{
    font-size: 25px;
}
a:link{
    text-decoration:underline;
}